html, body, form{
	width: 100%;
	height: calc(100vh);
	overflow-y: auto;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,.0);
}

/*----BACKGROUND IMAGE-------------*/
.background{
	background: url(../img/pic1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	min-height: 100%;
}

/*--------TEXT COLOR----------*/
.color{
	color: #018f83;
}

/*-------BUTTON COLOR-------------*/
.color2{
	background-color: #103e22;
}

.hov:hover{
	color: #103e22;
}

/*------COMPANY NAME-------------*/
.comp-name:hover{
	text-decoration: none;
	color: #103e22;
}

.info{
	font-size: 1.5rem;
}

/*---------CONTACT PAGE----------------*/
.contact{
	margin-top: 100px;
}

.contact h1{

}

/*---------------FORM----------------*/
form.style{
	min-width: 20rem;
	margin: 200px auto 0;
	height: 100%;
}

form .email{
	border-radius: 10px;
}

form .description{
	width: 100%;
	min-height: 100px;
	margin-top: 20px;
	border-radius: 10px;
}

form button{
	width: 100px;
	border-radius: 10px;
	font-weight: 700;
}

form button:hover{
	color: #018f83;
	background-color: #103e22;
}

/*-------MISSION STATEMENT PAGE------------*/
main#main .color{
	color: #85878c;
}

main .misshead{
	margin: 200px auto 0;
	color: #018f83;
}

main .statement{
	margin-top: 50px;
}


